<!DOCTYPE html>
<html>
  <!-- Layout header -->
  {% include "layout/head.html" %}
  <body>
    <div class="container">
      <header>
        {% include "layout/heading.html" %}
        <div class="profile">
          <div class="img-frame">
            <img src="img/impostor2.png" />
          </div>
          <hr class="hr-heading" />
          <p class="profile-descript">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
            placeat quod eum voluptatum veritatis saepe ratione voluptatem
            recusandae, consequuntur maiores aut porro! Doloremque, sunt. Error
            libero alias deserunt obcaecati eos.
          </p>
        </div>
      </header>
      {% if items %}
      <nav>
        <div class="navi">
          <ul>
            <h3>태그별로</h3>
             {% for item in items %}
            <a href="/?tag={{item.name}}"><li>{{item.name}}({{item.num}})</li></a>
            {% endfor %} 
          </ul>
        </div>
      </nav>
      {% endif %}
      <div class="content">
        {% if target or post or login %}
          {% block content %} 
          {% endblock %} 
        {% else %}
          {% include "content-list.html" %}
        {% endif %}
      </div>

      
    </div>
    {% include "layout/footer.html" %}
  </body>
</html>
