@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

:root{
  --footer-height:50px;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  margin :0;
  color: #fff;
  background: url(img/planet.jpg) no-repeat center center;
  background-size: cover;
}
a{
  text-decoration: none;
  color:#222;
}
.container{
  margin:0 auto;
  width: 1300px;
}
/* ################ HEADING SECTION ################ */
.nav-heading{
  position:relative;
  top:0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border:1px solid red;
  text-align: center;
}
.form-search{
  position:absolute;
  text-align: left;
  border:1px solid blue;
}
.nav-heading em{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.tag{
  position:absolute;
  right:0;
  top:0;
  margin-right:30px;
  border:1px solid blue;
}
.tag span{
  padding-right:30px;
}
.tag a{
  color:gray;
  transition:0.3s;
}
.tag a:hover{
  color:black;
}

.profile{
  border:1px solid blue;
  padding:15px;
}
.profile-descript{
  text-align: center;
  width: 300px;
  height: 100px;
  overflow:hidden;
  margin:0 auto;
}
.img-frame{
  margin:0 auto;
  width: 200px;
  height: 200px;
}
.img-frame img{
  width: inherit;
  height: inherit;
  object-fit: scale-down;
}
.hr-heading{
  width: 100px;
  height: 3px;
  border:none;
  background-color: #000;
}

/* ################ NAVIGATION SECTION ################ */
nav{
  position: fixed;
  right:0;
}
.navi li{
  color:#fff;
  list-style: none;
}

/* ################ POST SECTION ################ */
.post{
  width: inherit;

}

/* ################ FOOTER SECTION ################ */
footer{
  position:fixed;
  bottom:0;
  height: var(--footer-height);
  width: 100%;
  background-color: #111;
}
.made-by{
  color:#eee;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
/* ################ CONTENT SECTION ################ */

.content{
  position: relative;
  width: 800px;
  border:1px solid white;
  margin:0 auto;
  margin-bottom:calc(var(--footer-height) + 15px);
  padding-bottom: 40px;
}
.h1-content{
  font-size: 3em;
  margin:10px 0 0 30px;
}
.span-content{
  display:inline-block;
  margin: -5px 0 0 40px;
  color:gray;
}
.hr-content{
  border:none;
  margin:0 auto;
  width: 50%;
  height: 2px;
  background-color: #000;
  margin: 20px auto;
}
.p-content{
  margin: 0 20px 20px 20px;
}
.btn-delete{
  position:absolute;
  right:20px;
  top:20px;
  color:#fff;
  cursor:pointer;
}
.btn-delete::before{
  font-size: 1.3em;
  font-family: fontawesome;
  content:'\f014';
  
}
.btn-delete:hover{
  color:#222;
}


/* ################ LOGIN SECTION ################ */
.login{
  position:relative;
  width: inherit;
  height: 300px;
  border:1px solid red;
}
.login form{
  text-align: center;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.login input[type="text"],
.login input[type="password"]{
  border:none;
  display:block;
  border-bottom:1px solid gray;
  margin:10px;
}
.login input[type="text"]:focus,
.login input[type="password"]:focus{
  outline:none;
}
/* ################ content-list SECTION ################ */
.article{
  border : 2px solid gray;
  border-radius: 10px;
  background-color: #eee;
  width: 750px;
  height: 300px;
  position:relative;
  padding:30px;
  box-sizing: border-box;
  margin:10px auto;
  filter:invert(0);
  transition:0.3s;
}
.article:hover{
  filter:invert(1);
}
.article h2{
  width: 750px;
  height: 50px;
}
.article p{
  width: 750px;
  height: 150px;
  overflow:hidden;
}
.article span{
  position:absolute;
  font-size: 0.8em;
  opacity: 0.7;
  font-style: italic;
  bottom:5%;
  right:5%;
}

/* ################ ERROR SECTION ################ */
.h2-error a{
  color:#000;
}
